__pycache__/
*.pyc
dev-mac/app/.env
*.sqlite3
.idea/
.vscode/

# Environment variables
.env

# Virtual Environment
.venv/
venv/
*.venv/

# Visual Studio (für dev-win)
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/

